:root {
    --base-bgcolor: #354152;
    --base-color: #7e8ba3;
    --contrast-dark-color: #378f7b;
    --contrast-light-color: #8ceabb;
    --base-font-weight: 300;
    --base-font-size: 1rem;
    --base-line-height: 1.5;
    --base-font-family: Helvetica Neue;
    --base-font-family-fallback: sans-serif;
    --main-color: #90A4AE;
    --main-text-color: black;
    --secondary-color: white;
    --send-message-form: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 200;
    color: black;
}

#root {
    height: 100%;
}

.main {
    height: 100% ;
}

img {
    min-width: 15ch;
}

html {
    height: 100%;
}

body {
    background-color: var(--base-bgcolor);
    color: var(--base-color);
    font: var(--base-font-weight) var(--base-font-size)/var(--base-line-height) var(--base-font-family), var(--base-font-family-fallback);
    margin: 0;
    min-height: 100%;
}


h2 {
    font: var(--base-font-family);
    font-size: 2.3rem;
    font-weight: 100;
    margin: 0 0 1rem;
    color: var(--base-color);
}

.register-box {
    box-shadow: 0 0 300px #000;
    text-align: center;
    padding: 4rem 4rem;
}

.login-form-align {
    padding-top: 2rem;
    align-self: flex-end;
    color: var(--base-color);
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-content: center;
}

.login-form {
    margin: 0 auto;
    max-width: 25rem;
    width: 100%;
}

.login-btn {
    outline: none;
    background-image: linear-gradient(160deg, var(--contrast-light-color) 0%, var(--contrast-dark-color) 100%);
    margin-bottom: 0.5rem;

    border: 1px solid #242c37;
    border-radius: 999px;
    text-align: center;
    color: #fff;

    width: 100%;
    min-height: 6ch;
}

.signup-btn {
    outline: none;
    background-image: linear-gradient(160deg, #606b7f 0%, #354152 100%);
    margin-bottom: 6rem;

    border: 1px solid #242c37;
    border-radius: 999px;
    text-align: center;
    color: #fff;

    width: 100%;
    min-height: 6ch;
}

.app {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-rows: 1fr  1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
        "r m m m m m k"
        "r m m m m m k"
        "r m m m m m k"
        "r m m m m m k"
        "r m m m m m k"
        "n f f f f f k";
}

.new-room-form {
    grid-area: n;
}

.new-room-form input {
    outline: none;
    width: 70%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: transparent;
    font-weight: 200;
}

button {
    outline: none;
}

.create-room-btn {
    width: 15%;
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    font-size: 24px;

    border: 1px solid #242c37;
    border-radius: 999px;
    text-align: center;
    color: #fff;
}

.send-message-form {
    /*box-shadow: 0 0 300px #000;*/
    grid-area: f;
    padding: 1ch;
    /*background: var(--base-bgcolor);*/
    display: flex;
    box-sizing: border-box;
    height: 60px;
}

.send-message-form input {
    outline: none;
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    font-weight: 200;
}

.login-form input {
    outline: none;
    border: 1px solid #242c37;
    border-radius: 999px;
    text-align: center;
    color: var(--base-color);
    font-size: 1rem;
    width: 100%;
    min-height: 5ch;
    margin-bottom: 1rem;
    background-color: transparent;
}

input {
    outline: none;
    color: var(--base-color);
    font-size: 1rem;
    background: transparent;
}

input::-webkit-input-placeholder{
    background-color: transparent;
    color: var(--base-color);
}

h3{
    color: white;
    font-family: var(--base-font-family-fallback);
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.room-list {
    grid-area: r;
    /*background-image: linear-gradient(10deg, black 0%,  var(--base-bgcolor) 100%);*/
    /*background-image: radial-gradient();*/
    color: var(--base-color);
    height: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--contrast-light-color);
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: var(--contrast-light-color);
    font-weight: bold;
    text-decoration: none;
}


.room {
    padding: 1ch;
}

.message-list {
    box-shadow: 0 0 400px #000;
    grid-area: m;
    box-sizing: border-box;
    padding: 0 0 0 6px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background: #2d3847;
    border-radius: 8px;
    border-color: black;
    max-height: 10px;
}


.message {
    word-wrap: break-word;
    padding-left: 0.3rem;
    padding-bottom: 0.8ch;
    width: 97%;
}

.message-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--base-color);
    font-family: var(--base-font-family);
    opacity: 0.9;

    margin-bottom: 6px;

}

.message-text {
    background: var(--contrast-dark-color);
    color: var(--secondary-color);
    padding: 0.3ch 8px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    font-size: 1rem;
}
